<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="kanban-creators.testmsix"
    Publisher="CN=01881B5E-2F08-4814-ACF4-EA5CDD66BDF9"
    Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="ed21b57c-1d5f-41cb-a0cc-20c05af4024a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>test msix</DisplayName>
    <PublisherDisplayName>kanban-creators</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ManualPackagePWA.App">
      <uap:VisualElements
        DisplayName="test msix"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ManualPackagePWA"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>

	  <Application Id="App2" Executable="myapp.exe" EntryPoint="Windows.FullTrustApplication"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
		  <uap:VisualElements
			BackgroundColor="#464646"
			DisplayName="app2"
			Square150x150Logo="images\msix_logo_150x150.png"
			Square44x44Logo="images\msix_logo_44x44.png"
			Description="secondary app" >
		   <uap:DefaultTile/>
		  </uap:VisualElements>
	  </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
	 <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>